.container-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: black;
  color: white;
}

.container-logout p,
h1 {
  margin-right: 150px;
  margin-left: 150px;
}

.container-logout p {
  font-size: 20px;
  text-align: justify;
}

.container-logout img {
  height: 500px;
  width: 800px;
  margin-left: 150px;
  border-radius: 10px;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media (max-width: 576px) {
  .container-logout {
    margin: 20px 70px;
    text-align: center;
  }
  .container-login {
    margin: 20px 70px;
    text-align: center;
  }
}
